@mixin d-flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin size($x, $y: false) {
  @if $y {
    height: $x;
    width: $y;
  } @else {
    height: $x;
    width: $x;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin circle {
  border-radius: 50%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ecf0f1;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 8px 10px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  border-radius: 2px;

  &:hover {
    background: #9852f9;
    cursor: pointer;
    color: #fff;
  }
}

#wrapper {
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

.container {
  height: 100vh;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  @include d-flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;

  img {
    max-width: 90%;
    height: auto;
  }
}

.profile {
  &-bar {
    @include d-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 8px;
    background: #292929;
    width: 42px;
  }

  &-button {
    @include circle;
    background: #00b894;
    color: #fff;
    @include d-flex;
    justify-content: center;
    align-items: center;
    @include size(24px);
    font-size: 12px;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }
  }
}

.notebook-bar {
  padding: 18px 0;
  width: 280px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #fff;

  h3 {
    margin-bottom: 0;
  }

  .block-title {
    @include d-flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    justify-content: space-between;
    padding: 0 50px 0 10px;
    margin-bottom: 10px;
    position: relative;

    .icon-holder {
      @include size(26px);
      @include circle;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #000000;
      transition: background 0.2s linear;

      &:hover {
        cursor: pointer;
        background: #e0e0e0;
      }

      svg {
        font-size: 1.1rem;
        line-height: 1;
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.notebooks-list {
  @include list-reset;

  > a {
    padding: 10px 20px;
    transition: background 0.2s linear, color 0.2s linear;
    margin-bottom: 1px;
    text-decoration: none;
    color: #000000;
    display: block;

    &.active {
      background: #f8f8f8;
    }

    &:hover {
      background: #f2f2f2;
      cursor: pointer;
    }
  }
}

.notebook {
  @include d-flex;
  align-items: center;
  position: relative;
  padding-right: 10px;

  .icon-wrap {
    @include d-flex;
    align-items: center;

    svg {
      font-size: 15px;
      line-height: 1;
    }
  }

  .icon-holder {
    @include size(26px);
    @include circle;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    color: #000000;
    transition: background 0.2s linear;

    &:hover {
      background: #e0e0e0;
    }

    svg {
      font-size: 1.1rem;
      line-height: 1;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    flex: 1;
    @include ellipsis;
  }
}

.notebook-content {
  flex: 1;
  padding: 20px 35px;

  .block-title {
    @include d-flex;
    position: relative;
    margin-bottom: 45px;
    align-items: center;

    .icon-wrapper {
      padding-top: 2px;
    }
  }

  .icon-holder {
    @include size(26px);
    @include circle;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #000000;
    transition: background 0.2s linear;

    &:hover {
      background: #e0e0e0;
      cursor: pointer;
    }

    svg {
      font-size: 1.1rem;
      line-height: 1;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .title-text {
    margin: 0 0 0 8px;
    font-size: 1.5rem;
    flex: 1;
  }
}

.card {
  background: rgb(242, 242, 242);
  border: 1px solid #e6e6e6;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-weight: 500;
  }

  &-title {
    position: relative;
    padding-right: 30px;
  }

  &-content {
    font-weight: 300;
    color: #2d3748;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-block {
  font-size: 1rem;
  line-height: 1;
  padding: 10px 0;

  .form-title {
    margin-bottom: 40px;

    h2 {
      font-size: 1.3rem;
    }
  }

  input {
    width: 100%;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }

  .input-group {
    margin-bottom: 15px;
  }
}

.paperFocus {
  &:focus {
    outline: none;
  }
}
