@mixin d-flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin size($x, $y: false) {
  @if $y {
    height: $x;
    width: $y;
  } @else {
    height: $x;
    width: $x;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin circle {
  border-radius: 50%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #ecf0f1;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

input,
textarea {
  font: inherit;
}

.btn {
  padding: 8px 10px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  border-radius: 2px;

  &:hover {
    background: #9852f9;
    cursor: pointer;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

#wrapper {
  overflow: hidden;
  position: relative;
  min-width: 320px;
}

.container {
  height: 100vh;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  @include d-flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;

  img {
    max-width: 90%;
    height: auto;
  }
}

.profile {
  &-bar {
    @include d-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 8px;
    background: #333;
    width: 42px;
  }

  &-button {
    @include circle;
    background: #00b894;
    color: #fff;
    @include d-flex;
    justify-content: center;
    align-items: center;
    @include size(24px);
    font-size: 12px;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }
  }
}

.notebook-bar {
  padding: 20px 0;
  width: 280px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 100%;

  h3 {
    margin-bottom: 0;
  }

  .block-title {
    @include d-flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    justify-content: space-between;
    padding: 0 50px 0 10px;
    margin-bottom: 20px;
    position: relative;

    .icon-holder {
      @include size(26px);
      @include circle;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #000000;
      transition: background 0.2s linear;

      &:hover {
        cursor: pointer;
        background: #e0e0e0;
      }

      svg {
        font-size: 1.1rem;
        line-height: 1;
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.notebooks-list {
  @include list-reset;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  .note-opener {
    padding: 10px 20px;
    transition: background 0.2s linear, color 0.2s linear;
    margin-bottom: 1px;
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;

    &.active {
      background: #f8f8f8;
    }

    &:hover {
      background: #f2f2f2;
      cursor: pointer;
      position: relative;
      z-index: 5;
    }
  }
}

.notebook-item {
  position: relative;
  transition: background 0.2s linear;

  &:hover,
  &.active {
    background: #e0e0e0;
  }

  .menu-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 10;
    @include size(26px);
    @include circle;
    transform: translateY(-50%);
    color: #000000;

    button {
      @include size(26px);
      min-width: auto;
      padding: 0 !important;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    svg {
      font-size: 1.1rem;
      line-height: 1;
    }
  }
}

.list-wrapper {
  position: relative;
  height: 100%;
}

.options-block {
  @include list-reset;
  position: absolute;
  transform: translateX(-50%);
  background: #e0e0e0;
  z-index: 10;
  width: 100px;
  border-radius: 5px;
  line-height: 1;
  padding: 5px 0;
  transition: opacity 0.2s linear, visibility 0.2s linear;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  li {
    position: static;
    padding: 5px 10px;
  }
}

.notebook {
  @include d-flex;
  align-items: center;
  // position: relative;
  padding-right: 10px;

  .icon-wrap {
    @include d-flex;
    align-items: center;

    svg {
      font-size: 15px;
      line-height: 1;
    }
  }

  &-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    flex: 1;
    @include ellipsis;
  }
}

.notebook-content {
  flex: 1;
  padding: 35px 35px 20px;
  height: 100%;
  overflow: auto;

  .block-title {
    @include d-flex;
    position: relative;
    margin-bottom: 45px;
    align-items: center;

    .icon-wrapper {
      padding-top: 2px;
    }

    .icon-holder {
      @include size(60px);
      @include circle;
      @include d-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: #000000;
      transition: background 0.2s linear;

      svg {
        font-size: 2.1rem;
        line-height: 1;
      }

      &:hover {
        cursor: pointer;
        background: #e0e0e0;
      }
    }
  }

  .menu-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #000000;

    button {
      @include circle;
      @include size(26px);
      min-width: auto;
      padding: 0 !important;
      z-index: 5;
      transition: background 0.2s linear;
    }

    svg {
      font-size: 1.1rem;
      line-height: 1;
    }
  }

  .title-text {
    margin: 0 0 0 8px;
    font-size: 1.5rem;
    flex: 1;
  }
}

.card {
  background: rgb(242, 242, 242);
  border: 1px solid #e6e6e6;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-weight: 500;
  }

  &-title {
    position: relative;
    padding-right: 30px;
  }

  &-content {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    color: #2d3748;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form-block {
  font-size: 1rem;
  line-height: 1;
  padding: 10px 0;

  .form-title {
    margin-bottom: 40px;

    h2 {
      font-size: 1.3rem;
    }
  }

  input {
    width: 100%;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }

  .input-group {
    margin-bottom: 15px;
  }
}

.paperFocus {
  &:focus {
    outline: none;
  }
}

.note-bar {
  padding-bottom: 18px;
  width: 350px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 100%;
  position: relative;
  z-index: 6;

  .block-title {
    @include d-flex;
    position: relative;
    align-items: center;
    padding: 14px 50px 20px 17px;
    background: #9ad1d4;
    color: white;

    h3 {
      margin-bottom: 0;
    }

    .icon-wrapper {
      padding-top: 2px;
    }

    .icon-holder {
      @include size(30px);
      @include circle;
      @include d-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #000000;
      transition: border 0.2s linear;
      border: 2px solid transparent;

      svg {
        font-size: 1.4rem;
        line-height: 1;
        color: #fff;
      }

      &:hover {
        cursor: pointer;
        border: 2px solid #fff;
      }
    }
  }
}

.notes-list {
  @include list-reset;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    transition: background 0.2s linear;
    position: relative;

    &.active {
      background: #f2f2f2;
    }

    &:hover {
      background: #e0e0e0;
      cursor: pointer;
    }
  }
  a {
    color: #424242;
    text-decoration: none;
    padding: 15px 50px 13px 20px;
    display: block;
  }

  .menu-button {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #000000;

    button {
      @include circle;
      @include size(26px);
      min-width: auto;
      padding: 0 !important;
      z-index: 5;
      transition: background 0.2s linear;
    }

    svg {
      font-size: 1.1rem;
      line-height: 1;
    }
  }
}

.note {
  position: relative;

  .icon-wrap {
    width: 22px;
    position: absolute;
    top: 0;
    left: 0;

    svg {
      font-size: 1.2rem;
      line-height: 1;
    }
  }
  .text-wrap {
    flex: 1;
    padding: 0 8px;
    width: 100%;
  }

  .title-wrap {
    h4 {
      font-size: 17px;
      line-height: 1;
      margin-bottom: 10px;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-wrap {
    font-size: 13px;
    line-height: 1;
    font-weight: 300;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 40px;
    margin-bottom: 5px;
  }

  &-content {
    flex: 1;
    padding: 20px 35px;
    position: relative;
    height: 100%;

    .output-block {
      width: 100%;
      font-size: 1.2rem;
      line-height: 1;
      text-decoration: none;
      color: #000000;
      display: block;
      cursor: text;
      padding: 13px 15px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      word-break: break-all;

      h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 37px;
      }
    }

    .button-group {
      padding-left: 20px;
    }

    .edit-form {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      font-size: 1.2rem;
      line-height: 1;
      padding: 20px 35px;
      overflow-x: hidden;
      overflow-y: scroll;
      background: #ecf0f1;

      input {
        border: none;
        width: 100%;
        background: transparent;
        padding: 12px 15px;
        border-radius: 5px;
        transition: background 0.2s ease-in;
        &::placeholder {
          color: #000;
        }

        &:focus,
        &:hover {
          outline: none;
          background: rgba(#ccc, 0.3);
        }
      }

      .note-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 10px;
      }

      .note-text {
        font-size: 1.2rem;
        line-height: 1.2;
        font-weight: 300;
        margin-bottom: 20px;

        textarea {
          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }

      textarea {
        resize: none;
        width: 100%;
        background: transparent;
        border: 0;
        padding: 12px 15px;
        border-radius: 5px;
        transition: background 0.2s ease-in;

        &::placeholder {
          color: #000;
        }
        &:focus,
        &:hover {
          outline: none;
          background: rgba(#ccc, 0.3);
        }
      }

      .btn {
        min-width: 80px;
        border-radius: 20px;
        color: white;
        background: #f39c12;
        border: 1px solid #f39c12;
        transition: all 0.2s linear;
        padding: 5px 10px;

        &:hover {
          background: transparent;
          color: #f39c12;
        }
      }
    }
  }
}

.newNote-block {
  flex: 1;
  padding: 20px 30px;
  color: #000;

  .form-title {
    font-size: 2rem;
    line-height: 1;
  }

  .form-content {
    font-size: 1.2rem;
    line-height: 1;
  }

  input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background 0.2s ease-in;

    &::placeholder {
      color: #000;
    }

    &:focus,
    &:hover {
      outline: none;
      background: rgba(#ccc, 0.3);
    }
  }

  textarea {
    resize: none;
    width: 100%;
    background: transparent;
    border: 0;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background 0.2s ease-in;

    &::placeholder {
      color: #000;
    }
    &:focus,
    &:hover {
      outline: none;
      background: rgba(#ccc, 0.3);
    }
  }

  .title-block {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 10px;
  }

  .text-block {
    margin-bottom: 10px;
  }

  .btn {
    min-width: 105px;
  }
}
